body {
  min-width: 320px;
  max-width: 400px;
  max-height: 600px;
  margin: 15px auto;

  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #31879c;
  font-size: 28px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #31879c;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 400px;
  height: 500px;
  margin: 15px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #ade2f1;
  border-radius: 5px;
  height: 500px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #0b5264;
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.weather-app .btn {
  background: #31879c;
  border: #0b3742;
}

.weather-app .col-7 {
  padding: 0;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.weather-temperature .active {
  color: #0b3742;
  cursor: default;
}

a {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  position: relative;
  bottom: -145px;
}

.weather-forecast-date {
  font-size: 16px;
  color: #31879c;
}

.weather-forecast-temperature {
  font-size: 13px;
  color: #0b5264;
}

.weather-forecast-temperature-max {
  font-weight: bold;
}

.background {
  opacity: 0.4;
  max-width: 50%;
  height: auto;
  position: relative;
  top: -385px;

  display: block;
}
